@import '../App.scss';

$sidebar-hover-color: $matchy;
.ui.menu.fixed.side-nav {
  background-color: $light-color;
  margin-top: 26vh;
  position: relative;
  z-index: -1;
  // overflow-y: auto;
  // padding-bottom: $header-nav-height;

  .sidebar-item:hover {
    background: $sidebar-hover-color;
  }

  // .subscription:hover {
  //   background: #ebebeb;
  //   cursor: pointer;
  // }
}

.side-nav.ui.vertical.menu {
  width: 240px;
  height: 100vh;
  background-color: $light-color;
}