@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');
  
$header-nav-height: 64px;
$sidebar-left-width: 19rem;
$text-color-dark: #111111;
$avatar-diameter: 48px;
$avatar-margin: 10px;

$main-font: 'Spartan', sans-serif;
$dusty-rose: #c28285;
$background-color: rgb(228, 226, 226);
$liberty: #474787;
$jacksons-purple: #40407a;
$swan-white: #f7f1e3;
$dark-white: #dcd3bd;
$off-white: #f5f3ee;
$palmsprings: #218c74;
$butternut: #ffda79;
$grey-porcelain: #84817a;
$devil-blue: #227093;
$ships-officer: #2C3A47;
$ship-officer: #89a7b4;
$dark-color: rgb(53, 50, 50);
$light-color: #77a39a;
// $light-color: #77a39acf;
$matchy: rgba(212, 198, 198, 0.9);
$brown: rgb(97, 92, 92);

* {
  font-family: $main-font;
  box-sizing: border-box;
}

body {
  background-color: $off-white;
  // background: url('shape.jpg') no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  margin-top: 10rem;
}

input {
  display: block;
  margin: 5px 0 5px;
  width: 150px;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  // background-image: linear-gradient(to bottom right, #705253, #b88b8d);
  // background-image: linear-gradient(to bottom right, $ships-officer, $grey-porcelain);
  // background-image: linear-gradient(to bottom right, $palmsprings, $grey-porcelain);
}

nav li {
  float: right;
  margin: 6px;
  // margin-right: 20px;
  width: 90px;
  height: 34px;
  // display: block;
  color: $dark-color;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
}

form h4 {
  color: $off-white;
}

.nav-btn {
  padding: 6px;
  margin-right: -18px;
  font-size: 1.5rem;
  // color: #999;
  color: $swan-white;
  text-shadow: 1px 1px 1px #333;
}

.logout-btn, .login-btn, .signup-btn {
  border: 1px solid #666;
  padding: 7px 10px;
  background-color: $swan-white;
  opacity: 0.7;
  border-radius: 3px;

  &:hover {
    background-color: $ships-officer;
    color: $swan-white;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px;
  padding: 80px;
  width: 600px;
  border: 1px solid black;
  box-shadow: 10px 10px 20px 1px grey;
  background-color: $ships-officer;
  border-radius: 10px;
}

form input {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-size: 1rem;
}

.input-btn:hover {
  background-color: $light-color;
}

li.logo {
  float: left;
  color: $dark-color;
  padding: 6px 6px;
  font-size: 2rem;
  // text-shadow: 1px 1px 1px rgb(29, 29, 29);
}

.article-card{
  box-shadow: 10px 10px 20px 1px grey;
  min-height: 100%;
  background-color: $matchy;
  margin: 0 10px;
  margin-left: 300px;
  width: 800px;
  // border: 1px solid black;
}

.article-card a{
  color: #000;
  text-decoration: none;
}

.card-content{
  padding: 20px;
  // padding-bottom: 30px;
  margin-bottom: 20px;
}

.card-content .title{
  margin: 15px  0;
  margin-bottom: 20px;
}

.blog-header{
  background: $light-color;
  color: $swan-white;
  padding: 20px 0;
  height: 320px;
  // padding-top: 80px;
  // padding-bottom: 80px;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.9;
  background: url('shape.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blog-header h1{
  font-size: 3.1em;
  font-weight: bold;
}

.blog-body{
  margin-top: 100px;
}

.blog-pagination{
  padding: 100px;
}

.blog-pagination .btn {
  background: $dusty-rose;
  padding: 15px 50px;
  display: block;
  width: 500px;
  color: #ffffff;
  border-radius: 28px;
}

.article .container{
  margin-top: 100px;
  width: 70%;
}

div.row.no-gutters {
  margin-top: 330px;
}

footer {
  background: $brown;
  padding: 20px;
  color: #fff;
  justify-content: center;
  // background: url('shape.jpg') no-repeat;
}

.lds-hourglass {
  // display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: 50%;
  margin-top: 50%;
}

.please-wait {
  position: relative;
  margin-left: 48%;
  margin-bottom: 90px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #1888a5;
  border-color: #1888a5 transparent #1888a5 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
      transform: rotate(1800deg);
  }
}

