@import '../../App.scss';

.sidebar-item {
    span {
        color: $dark-color;
        text-decoration: none;
        font-size: 1.8rem;
        margin-top: 5px;
        margin-left: 22px;
        font-weight: 500;
    }
    background-color: $light-color;
    padding: 4px;
    span {
      i.icon {
        margin-right: 20px;
        color: #888888;
      }
    }
  
    &.highlight-item {
      span {
        font-weight: 500;
      }
  
      i.icon {
        color: $palmsprings;
      }
    }
  }
  
  .sidebar-item-alignment-container {
    display: flex;
    align-items: center;
  }

  div.sidebar-item-alignment-container > span {
    text-decoration: none;
  }